<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('스트레칭')">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<nav th:replace="fragments/common :: menu('stretch')"></nav>

<main>

    <div class="text-center">
        <div class="col-md-12">
            <h1 class="h1 mt-5 mb-4">
                <span style="font-weight: bold;">스트레칭</span>
                <span class="text-muted" style="font-size: 2rem">Stretching</span>
            </h1>
            <br>
            <p class="lead mb-5">간단한 스트레칭으로 골격 계통 질환을 예방해보세요</p>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container" style="margin-bottom:3%">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="stretch : ${stretches}">
                    <div class="card shadow-sm" >
                        <a th:href="@{${stretch.url}}" target="_blank">
                            <img th:src="@{${stretch.imgSrc}}" width="100%">

<!--                            <div class="text-center">-->
<!--                                <h5 style="font-weight:bold;margin-top:3%">전신</h5>-->
<!--                            </div>-->

                            <div class="card-body">
                                <p class="card-text" th:text="${stretch.title}">?</p>
                                <div class="d-flex justify-content-between align-items-center">
<!--                                    <small class="text-muted">2022-10-31</small>-->
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


</main>

<!-- FOOTER -->
<div th:replace="fragments/common :: bottom"></div>


<!--<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
<footer th:replace="fragments/common :: footer"></footer>
<script
        src="https://code.jquery.com/jquery-3.6.1.slim.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>